<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">add new address</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form class="form card-text" [formGroup]="address" (ngSubmit)="addAddress()">
        <div class="modal-body">

          <div id="changeAdress">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label mb-1">Your Name</label>
              <input type="text" class="form-control py-2 px-3" id="exampleFormControlInput1" placeholder="Ali ali"
                formControlName="yourname" required />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label mb-1">Phone number</label>
              <input type="text" class="form-control py-2 px-3" id="exampleFormControlInput1"
                placeholder="010-000-000-00" formControlName="phone" />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label mb-1">st.name/Building
                number/apartment</label>
              <textarea type="text" row="6" class="form-control py-2 px-3" id="exampleFormControlInput1"
                placeholder="Street Name / Building / Apartment No. / Floor"
                formControlName="address_street"></textarea>
              <div id="nameHelp" *ngIf="
            (form.controls['address_street'].touched &&
            form.controls['address_street'].invalid)
            || (form.controls['address_street'].untouched && isSubmitted)
        " class="form-text text-danger">
                <small *ngIf="form.controls['address_street'].errors?.['required']">This field is
                  required</small>


              </div>
            </div>

            <div class="mb-3">
              <label class="form-label mb-1">State/region</label>
              <select (change)="getid($event)" formControlName="address_state" class="form-select py-2 px-3">
                <option value="" disabled selected>Please select...</option>
                <option value="{{state.id}}" *ngFor="let state of states ; let i = index">{{state.name}}
                </option>
              </select>
              <div id="nameHelp" *ngIf="
            (form.controls['address_state'].touched &&
            form.controls['address_state'].invalid)
            || (form.controls['address_state'].untouched && isSubmitted)
        " class="form-text text-danger">
                <small *ngIf="form.controls['address_state'].errors?.['required']">This field is
                  required</small>


              </div>
            </div>
            <div class="mb-3">
              <label class="form-label mb-1">City</label>
              <select formControlName="address_city" class="form-select py-2 px-3">
                <option value="" disabled selected>Please select...</option>
                <option value="{{city.id}}" *ngFor="let city of cities ; let i = index">{{city.name}}
                </option>

              </select>
              <div id="nameHelp" *ngIf="
              (form.controls['address_city'].touched &&
              form.controls['address_city'].invalid)
              || (form.controls['address_city'].untouched && isSubmitted)
          " class="form-text text-danger">
                <small *ngIf="form.controls['address_city '].errors?.['required']">This field is
                  required</small>


              </div>
            </div>
          </div>
          <!-- <div class="w-100">
            <button type="submit" class="btn btn-purple mx-auto">confirm order</button>
          </div> -->


        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
          <button type="submit" class="btn btn-purple mx-auto" data-bs-dismiss="modal">Save address</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container mt-3">

  <h5>CHECKOUT</h5>
  <div class="wrapper wrapper-content animated  fadeInRight">
    <div class="row">
      <div class="col-md-9 ">
        <div>
          <div class="card">
            <div class="ibox-title">
              <h5>1. ADDRESS DETAILS</h5>
            </div>
            <div class="ibox-content ">
              <div class="table-responsive">
                <table class="table shoping-cart-table">
                  <tbody>
                    <tr>
                      <td>
                        <form class="form card-text" [formGroup]="form" (ngSubmit)="insertdate()">
                          <div id="addressDetails" *ngIf="AddressArray.length" >
                            <div class="form-check" id="existAddress" class="card "
                              *ngFor="let address of  AddressArray ; let i = index">
                              <input class="form-check-input rad " type="radio" formControlName="address_detail"
                                value="{{address.id}}" id="{{address.id}}">
                              <label class="form-check-label p-3 ps-6 card-addr" for="{{address.id}}">
                                {{address.name}},.{{address.address_street}},.{{address.address_state[0].name}},.{{address.address_city[0].name}},.{{address.phone}}
                              </label>
                              <!-- <a href="#" class="ms-4 mt-1 text-dark">Edit</a> -->
                            </div>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-white border-0 mb-5" data-bs-toggle="modal"
                              data-bs-target="#exampleModal">
                              <i class="fa-solid fa-plus me-2 text-secondary"></i>Add a new address
                            </button>


                            <!-- _____________________________________________________________________________ -->




                            <!-- ______________________________________________ -->
                          </div>
                          <div id="changeAdress" *ngIf="AddressArray.length==0">
                            <div class="mb-3">
                              <label for="exampleFormControlInput1" class="form-label mb-1">Your Name</label>
                              <input type="text" class="form-control py-2 px-3" id="exampleFormControlInput1"
                                placeholder="Ali ali" formControlName="yourname" required />
                            </div>
                            <div class="mb-3">
                              <label for="exampleFormControlInput1" class="form-label mb-1">Phone number</label>
                              <input type="text" class="form-control py-2 px-3" id="exampleFormControlInput1"
                                placeholder="010-000-000-00" formControlName="phone" />
                            </div>
                            <div class="mb-3">
                              <label for="exampleFormControlInput1" class="form-label mb-1">st.name/Building
                                number/apartment</label>
                              <textarea type="text" row="6" class="form-control py-2 px-3" id="exampleFormControlInput1"
                                placeholder="Street Name / Building / Apartment No. / Floor"
                                formControlName="address_street"></textarea>
                              <div id="nameHelp" *ngIf="
                            (form.controls['address_street'].touched &&
                            form.controls['address_street'].invalid)
                            || (form.controls['address_street'].untouched && isSubmitted)
                        " class="form-text text-danger">
                                <small *ngIf="form.controls['address_street'].errors?.['required']">This field is
                                  required</small>


                              </div>
                            </div>

                            <div class="mb-3">
                              <label class="form-label mb-1">State/region</label>
                              <select (change)="getid($event)" formControlName="address_state"
                                class="form-select py-2 px-3">
                                <option value="" disabled selected>Please select...</option>
                                <option value="{{state.id}}" *ngFor="let state of states ; let i = index">{{state.name}}
                                </option>
                              </select>
                              <div id="nameHelp" *ngIf="
                            (form.controls['address_state'].touched &&
                            form.controls['address_state'].invalid)
                            || (form.controls['address_state'].untouched && isSubmitted)
                        " class="form-text text-danger">
                                <small *ngIf="form.controls['address_state'].errors?.['required']">This field is
                                  required</small>


                              </div>
                            </div>
                            <div class="mb-3">
                              <label class="form-label mb-1">City</label>
                              <select formControlName="address_city" class="form-select py-2 px-3">
                                <option value="" disabled selected>Please select...</option>
                                <option value="{{city.id}}" *ngFor="let city of cities ; let i = index">{{city.name}}
                                </option>

                              </select>
                              <div id="nameHelp" *ngIf="
                              (form.controls['address_city'].touched &&
                              form.controls['address_city'].invalid)
                              || (form.controls['address_city'].untouched && isSubmitted)
                          " class="form-text text-danger">
                                <small *ngIf="form.controls['address_city '].errors?.['required']">This field is
                                  required</small>


                              </div>
                            </div>
                          </div>
                          <!-- <div class="ibox-title">
                            <h5>2. PAYMENT METHOD</h5>
                          </div> -->


                          <!-- <h3>How do you want to pay for your order?</h3>
                          <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                  data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                  <input type="radio" formControlName="payment_id" id="payment1" value="1">
                                  <label for="payment1" class="form-label mb-1">
                                    <img src="../../assets/images/cashIcon1_1.png" alt="">Cash on Delivery</label>
                                </button>
                              </h2>
                              <div id="collapseOne" class="accordion-collapse collapse show"
                                aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body text-muted fs-8">
                                  When you choose Cash on delivery, you canorder in cash when you receive your shi<br>
                                  1. Egyptian pounds is accepted only.<br>
                                  2. Please provide the specified amount onlfor the possibility that there will be
                                  enothe delivery representative if a value ithan the requested one.<Br>
                                  3. You must pay for the product beforshipment. We remind you that you can
                                  returyourself through the application or site industrial defect or non-conformity with
                                  specifications.
                                </div>
                              </div>
                            </div>
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed border-0" type="button"
                                  data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                                  aria-controls="collapseTwo" (click)="pay(price)">
                                  <input type="radio" formControlName="payment_id" id="payment3" value="2">
                                  <label for="payment3" class="form-label mb-1"><img src="../../assets/images/PNg24.png"
                                      alt="">Pay by card</label>
                                </button>
                              </h2>
                               <button class="accordion-button collapsed border-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"  (click)="setpayment_id" >
                              <ngx-paypal [config]="payPalConfig">

                              </ngx-paypal>

                            </div>

                          </div> -->
                          <div>
                            <h5>Do you have a voucher?</h5>
                            <input type="text" class="form-control mb-3" formControlName="copoun" id="copoun"
                              placeholder="Enter Cuopon code here">
                            <div class="w-100">
                              <button type="submit" class="btn btn-purple mx-auto">Next Step</button>
                            </div>
                          </div>

                        </form>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>


        </div>



      </div>
      <!--right section-->
      <div class="col-md-3">
        <div class="card">
          <div class="ibox-title">
            <h5>ORDER SUMMARY</h5>
          </div>
          <div class="ibox-content">
            <span>Total</span>
            <h2 class="font-bold"> {{price}}</h2>
            <hr>
            <!-- <span class="text-muted small">
              Orders above 250 EGP have free delivery</span> -->
            
            <div class="mt-3">
              <div class="btn-group d-flex justify-content-center">
                <a [routerLink]="['/cart']" class="btn px-2 mx-auto btn-purple  w-100">MODIFY CART</a>
              </div>
            </div>
          </div>
        </div>
        <div class="ibox">
        </div>
      </div>
    </div>
  </div>
</div>
