<div class="container-fluid">
<div class="container">
  <div class="  row d-flex justify-content-around">
    <div class="p-3 col-12 col-lg-6 border-rightgray" >
      <div class="card-body px-6 d-flex flex-column">
        <h5 class="card-title mb-4 text-center">Login</h5>
        <div class="alert alert-danger" role="alert" *ngIf="flag">
          wrong email or password 
        </div>
        <form class="form card-text" action="" method="" #loginForm="ngForm"  (ngSubmit)="handleSubmitForm(loginForm)">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label mb-1"
              >E-mail</label
            >
            <input
              type="text"
              class="form-control py-2 px-3"
              id="exampleFormControlInput1"
              placeholder="Ali ali"
              ngModel
              #email="ngModel"
              name="email"
              required
            
              pattern='^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$'
            />
            <div
              id="emailHelp"
              *ngIf="(email.touched && email.invalid ) || 
              (email.untouched && isSubmitted)"
              class="form-text text-danger"
            >
              <small *ngIf="email?.errors?.['required']"
                >This field is required</small
              >
            
              <small *ngIf="email?.errors?.['pattern']"
                >Please enter a valid email</small
              >
            </div>
          </div>
          <div class="mb-4">
            <label for="exampleFormControlInput1" class="form-label mb-1"
              >Password</label
            >
            <input
            type="password"
              class="form-control py-2 px-3"
              id="password"
              placeholder="******************"
              ngModel
              #password="ngModel"
              name="password"
              required
             
             
            />
            
            
            <div
              id="passwordHelp"
              *ngIf="( password.touched &&  password.invalid)|| 
              (password.untouched && isSubmitted)"
              class="form-text text-danger"
            >
              <small *ngIf="password?.errors?.['required']"
                >This field is required</small
              >
            
             
            </div>
          </div>
          <div class="d-flex justify-content-between mb-2">
            <div class="d-flex align-items-baseline">
              <input type="checkbox" class="me-1" name="remember" />
              <label class="form-label">Remember me</label>
            </div>
            <a routerLink="forgetpassword" class="lost">Forget your password?</a>
          </div>
          <div class="w-100">
            <button type="submit" class="btn btn-pink py-2 mb-3  d-flex">
              <i class="fa-solid fa-envelope align-self-start"></i>
              <span class="mx-auto">LOGIN</span> 
            </button>
          </div>
        </form>
        <div class="w-100">
          <a type="submit" class="btn btn-pink py-2 mb-3 d-flex google">
            <i class="fa-brands fa-google-plus-g align-self-start"></i
              > 
              <span class="mx-auto">LOGIN WITH GMAIL</span>
          </a>
        </div>
        <div class="w-100">
          <a type="submit" class="btn btn-pink facebook py-2 mb-3 d-flex">
            <i class="fa-brands fa-facebook-f align-self-start"></i
              > 
              <span class="mx-auto ">LOGIN WITH FACEBOOK</span>
          </a>
        </div>
        

       
      </div>
    </div>


    <!--right section-->

    <div class="p-3 col-12 mt-5  mt-lg-0 col-lg-6  text-center" >
      <div class="card-body px-6 mx-auto d-flex flex-column">
        <h5 class="card-title mb-4 ">Create your account</h5>
        
        <p class="card-text text-center mt-4 ">
          Create your customer account in just a few clicks! You can register either using your e-mail address or through your Google / Facebook account.
        </p>
       <section class="mt-6">
        <div class="w-100">
          <a type="submit" routerLink="register" class="btn btn-pink py-2 mb-3 d-flex">
            <i class="fa-solid fa-envelope align-self-start"></i>
            <span  class="mx-auto">CREATE AN ACCOUNT VIA E-MAIL</span>
          </a>
        </div>
        <div class="w-100">
          <a type="submit" class="btn btn-pink py-2 mb-3 d-flex google">
            <i class="fa-brands fa-google-plus-g align-self-start"></i
              > 
              <span class="mx-auto">REGISTER WITH GMAIL</span>
          </a>
        </div>
        <div class="w-100">
          <a type="submit" class="btn btn-pink py-2 mb-3 d-flex facebook">
            <i class="fa-brands fa-facebook-f align-self-start"></i
              > 
              <span class="mx-auto">REGISTER WITH FACEBOOK</span>
          </a>
        </div>
      </section>
      
      </div>
    
  </div>
</div>
</div>