
<div class="container mt-5">
	<div class="row">
	<aside class="col-md-3">
		
<div class="card">
	<article class="filter-group">
		<header class="card-header">
			<a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
				<h6 class="title sub-title">CATEGORY</h6>
			</a>
		</header>
		<div class="filter-content collapse show" id="collapse_1" style="">
			<div class="card-body">
				<form class="pb-3">
				<div class="input-group">
				  <input type="text" class="form-control" placeholder="Search">
				  <div class="input-group-append">
				    <button class="btn btn-light" type="button"><i class="fa fa-search"></i></button>
				  </div>
				</div>
				</form>
				
				<ul class="list-menu" >
				<li *ngFor="let  category of  categories ; let i = index" ><a style="cursor:pointer ;" (click)="filterbycat(category.id)">{{category.name}}  </a></li>
				<!-- <li><a href="#">Watches </a></li>
				<li><a href="#">mobiles  </a></li>
				<li><a href="#">Clothes  </a></li>
				<li><a href="#">Home items </a></li>
				<li><a href="#">Animals clothes</a></li>
				<li><a href="#">Beauty </a></li> -->
				</ul>

			</div> <!-- card-body.// -->
		</div>
	</article> <!-- filter-group  .// -->

	<article class="filter-group">
		<header class="card-header">
			<a href="#" data-toggle="collapse" data-target="#collapse_2" aria-expanded="true" class="">
				<h6 class="title sub-title">Brands </h6>
			</a>
		</header>
		<div class="filter-content collapse show" id="collapse_2" >
			<div class="card-body">
				<label class="custom-control custom-checkbox" *ngFor="let  item of  brands ; let i = index" >
				  <input type="checkbox" id="{{item.brand}}" (change)="addbrand($event)"  class="custom-control-input">
				  <div class="custom-control-label">{{item.brand}} 
				  	<b class="badge badge-pill badge-light float-right"></b>  </div>
				</label>
			
				<!-- <div *ngFor="let  item of  brands ; let i = index" >{{item.scalar}} </div> -->
				<!-- <label class="custom-control custom-checkbox">
				  <input type="checkbox" checked="" class="custom-control-input">
				  <div class="custom-control-label">Max 
				  	<b class="badge badge-pill badge-light float-right">15</b>  </div>
				</label>
				<label class="custom-control custom-checkbox">
				  <input type="checkbox" checked="" class="custom-control-input">
				  <div class="custom-control-label">LCW 
				  	<b class="badge badge-pill badge-light float-right">35</b> </div>
				</label>
				<label class="custom-control custom-checkbox">
				  <input type="checkbox" checked="" class="custom-control-input">
				  <div class="custom-control-label">Defacto 
				  	<b class="badge badge-pill badge-light float-right">89</b> </div>
				</label>
				<label class="custom-control custom-checkbox">
				  <input type="checkbox" class="custom-control-input">
				  <div class="custom-control-label">Adiddas 
				  	<b class="badge badge-pill badge-light float-right">30</b>  </div>
				</label> -->
	</div> <!-- card-body.// -->
		</div>
	</article> <!-- filter-group .// -->
	<article class="filter-group">
		<header class="card-header">
			<a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
				<h6 class="title sub-title">Price (EGP) </h6>
			</a>
		</header>
		<div class="filter-content collapse show" id="collapse_3" style="">
			<div class="card-body">
				<input type="range" class="custom-range" min="0" max="100" name="">
				<div class="form-row">
				<div class="form-group col-md-6">
				  <label>Min</label>
				  <input class="form-control" min="1" max="3000" value="1" (input)="minprice($event)" placeholder="EGP 50" type="number">
				</div>
				<div class="form-group text-right col-md-6">
				  <label>Max</label>
				  <input class="form-control" min="1" max="3000" value="3000" (input)="maxprice($event)" placeholder="EGP 3,000" type="number">
				</div>
				</div> <!-- form-row.// -->
				<button class="btn btn-block btn-purple" (click)="applyfilter()">Apply</button>
			</div><!-- card-body.// -->
		</div>
	</article> <!-- filter-group .// -->
	<article class="filter-group">
		<header class="card-header">
			<!-- <a href="#" data-toggle="collapse" data-target="#collapse_4" aria-expanded="true" class="">
				<h6 class="title sub-title">Sizes </h6>
			</a> -->
		</header>
		<div class="filter-content collapse show" id="collapse_4" style="">
			<div class="card-body">
                <!-- <label class="custom-control custom-checkbox">
                    <input type="checkbox"  class="custom-control-input">
                    <div class="custom-control-label">XS</div>
                  </label>
                <label class="custom-control custom-checkbox">
                    <input type="checkbox"  class="custom-control-input">
                    <div class="custom-control-label">S</div>
                  </label>
                <label class="custom-control custom-checkbox">
                    <input type="checkbox" checked="" class="custom-control-input">
                    <div class="custom-control-label">M</div>
                  </label>
                <label class="custom-control custom-checkbox">
                    <input type="checkbox"  class="custom-control-input">
                    <div class="custom-control-label">L</div>
                  </label>
                <label class="custom-control custom-checkbox">
                    <input type="checkbox"  class="custom-control-input">
                    <div class="custom-control-label">XL</div>
                  </label>
                <label class="custom-control custom-checkbox">
                    <input type="checkbox"  class="custom-control-input">
                    <div class="custom-control-label">XXL</div>
                  </label> -->

		</div><!-- card-body.// -->
		</div>
	</article> <!-- filter-group .// -->
	
</div> <!-- card.// -->

	</aside>
	<main class="col-md-9">

<header class="border-bottom mb-4 pb-3">
		<div class="form-inline">
			<span class="mr-md-auto">{{products.length}} Items found </span>
            <label for="" class="me-2">Sort by: </label>
			<select class="mr-2 form-select w-25" (change)="getsort($event)" >
				<option value="">Sort by:Popularity</option>
				<option value="1">Price: Low to High</option>
				<option value="2">Price: High to Low</option>
			
			</select>
			<div class="btn-group">
				<a href="#" class="btn btn-light" data-toggle="tooltip" title="" data-original-title="List view"> 
					<i class="fa fa-bars"></i></a>
				<a href="#" class="btn  btn-purple active" data-toggle="tooltip" title="" data-original-title="Grid view"> 
					<i class="fa fa-th"></i></a>
			</div>
		</div>
</header><!-- sect-heading -->

<div class="row mb-5">
	<!-- <div class="col-md-3 col-sm-6 mb-3">
        <div class="product-grid">
            <div class="product-image">
                <a href="#" class="image">
                    <img src="../../assets/images/img-1.jpg">
                </a>
                <span class="product-discount-label">-25%</span>
                <ul class="product-links">
                    <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                </ul>
                <a href="" class="add-to-cart">Add to Cart</a>
            </div>
            <div class="product-content">
                <h3 class="title"><a href="#">Women's Blouse Top</a></h3>
                <div class="price">EGP 150 <span>EGP 200</span></div>
            </div>
        </div>
    </div> -->
	<div class="col-md-3 col-sm-6 mb-3" *ngFor="let product of products |paginate: { id: 'listing_pagination',
    itemsPerPage: 8,
    currentPage: page,
    totalItems: totalRecords}">
        <div class="product-grid">
            <div class="product-image">
                <a href="#" class="image">
                    <img [src]="pathimage+product.image">
                </a>
                <span class="product-discount-label" *ngIf="product.Offeres!=null">{{product.Offeres.offeres.percent}}%</span>
                <ul class="product-links">
                    <li><a (click)="addtowhishlist(product,$event)"><i class="fa-regular fa-heart"></i></a></li>
                </ul>
                <a 
				 (click)="insertincart($event,product)" class="add-to-cart">Add to Cart</a>
            </div>
            <div class="product-content">
                <h3 class="title"> <a [routerLink]="['/productdetails' , product.id]">{{product.name}}</a></h3>
                <span class="price me-1" *ngIf="product.Offeres!=null">EGP {{product.Offeres.price_offer}} </span>
				<span class="  d-inline" [ngClass]="{'oldprice': product.Offeres!=null,'price': product.Offeres==null}">EGP{{product.price}} </span>
				          
				
            </div>
        </div>
    </div><!-- col.// -->


	
	
</div> <!-- row end.// -->

<div class="text-center">
	<pagination-controls class="my-pagination" id="listing_pagination"
	(pageChange)="page = $event"></pagination-controls>
</div>
<!-- <nav class="mt-4" aria-label="Page navigation sample">
  <ul class="pagination">
    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item active"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav> -->

	</main>
	</div>
</div>
