body {
	background: #f9f9f9;
	font-family: "Roboto", sans-serif;
}

.shadow {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.profile-tab-nav{
	min-width:250px;
}
.tab-content{
	flex:1;
}
.form-group {
    margin-bottom: 1.5rem;
}


	a.nav-link{
		padding:15px 20px;
		border-bottom:1px solid #ddd;
		border-radius:0;
		color:#333;
		
	}
    i{
        width:20px;
    }
a:hover{
	color:#333 !important;
}
a:focus{
	background-color: #443298;
	color: white;
}
.see{
	padding: 0 !important;
	border: none !important;
	color: #443298 !important;
    font-weight: 600;
	background-color: transparent !important;
	font-size: 1rem;
}
.see:hover{
	color: #443298;
}
.see:focus{
	background-color: transparent !important;
	color:#443298;
}
.last{
	color: #443298 !important;
	font-weight: bold;
	text-transform: uppercase !important;
}
.last:hover{
	color: #443298 !important;
}
.last:focus{
	background-color:#f9f9f9 ;
	color: #443298;
}

.product-grid{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.product-grid .product-image{
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.product-grid .product-image a.image{display: block; }
.product-grid .product-image img{
    width: 100%;
    height: auto;
}
.product-grid .product-discount-label{
    color: #fff;
    background: #443298;
    font-size: 13px;
    font-weight: 600;
    line-height: 25px;
    padding: 0 20px;
    position: absolute;
    top: 10px;
    left: 0;
}
.product-grid .product-links{
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: 10px;
    right: -50px;
    transition: all .5s ease 0s;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -ms-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
}
.product-grid:hover .product-links{ right: 10px; }
.product-grid .product-links li a{
    color: #443298;
    background: transparent;
    font-size: 17px;
    line-height: 38px;
    width: 38px;
    height: 38px;
    border-bottom: none !important;
    display: block;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.product-grid .product-links li:last-child a{ border-bottom: 1px solid #333; }
.product-grid .product-links li a:hover{
    color: #fff;
	border-bottom: none !important;
}
.title a{
    display: block;
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.product-grid .add-to-cart{
    background: #443298;
    color: #fff;
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    padding: 10px 26px;
    position: absolute;
    left: 0;
    bottom: -68px;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}
.product-grid:hover .add-to-cart{ bottom: 0; }
.product-grid .add-to-cart:hover{color:white !important; text-shadow: 4px 4px rgb(70, 68, 68); }
.product-grid .product-content{
    color: white !important;
    padding: 15px;
    box-shadow: 0 0 0 5px rgba(0,0,0,0.1) inset;
}
.product-grid .title{
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 7px;
}
.product-grid .title a{
    color: #777;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}
.product-grid .title a:hover{ color: #a5ba8d; }
.product-grid .price{
    color: #0d0d0d;
    font-size: 14px;
    font-weight: 600;
}
.product-grid .price span{
    color: #888;
    font-size: 13px;
    font-weight: 400;
    text-decoration: line-through;
}
@media screen and (max-width: 990px){
    .product-grid{ margin-bottom: 30px; }
}
.ulsize{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    padding-top: 1rem;
    margin-bottom: 0 !important;
  }
  .lisize{
    position: relative;
    margin-bottom: 0.5rem;
  }
  .lisize button {
    height: 100%;
    position: relative;
    border-radius: 2px;
    padding: 4px 8px;
    max-width: 100px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: 1px solid rgb(226, 229, 241);
    background-color: transparent;
    cursor: pointer;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    margin-right: 0.3rem;
    
}
.lisize button:hover{
    border: 1px solid #000000;  
}
.lisize button[disabled] {
    pointer-events: none;
}


.lisize button.active {
    border-color: #443298;
    color: #443298;
}
