.btn-pink{
    background-color: #f2acbe !important;
    color: white;
    padding: 0.5rem 3.1rem;
    box-shadow: 0 3px 5px  #E3E3E3;
    border: none;
    
    font-size: 15px;
    font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .btn:hover{
    border: none;
    background-color: #cc909f !important;
    color: white !important;
  }