<div class="container-fluid">
    <div class="container p-3 pb-5">
        <h1 class="py-4 text-center">Contact Us</h1>
        <div class="content row d-flex justify-content-evenly">
            
            <section class="col-12 col-md-4 p-3 px-4 mb-2 mb-md-0 d-flex flex-column">
                Email us with your messeage and we will get back to you as soon as posible.
                <a href="mailto:gradproj763@gmail.com" class="mt-3  btn">Email Us</a>
            </section>
            <section class="col-12 col-md-4 p-3 px-4 mb-2 mb-md-0 d-flex flex-column ">
                Call our Customer Service 19739 from 9 am to 10 pm everday except fridays.
                <a href="tel:1973666" class="mt-3  btn">Call Us</a>

            </section>
        </div>
        
    </div>
</div>