<div class="container-fluid">
    <div class="container p-3 mb-5">
        <h1 class="py-4 text-center">About Us</h1>
        <div class="content">
            <p>Moda is an online shopping market since 2022, Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto voluptates dignissimos voluptatum quis suscipit maxime esse recusandae saepe quas magni itaque obcaecati, illum, inventore consequatur eaque est numquam quisquam libero nemo neque pariatur ea unde. Cumque doloribus voluptatum vel unde expedita inventore ab assumenda iusto tenetur! Numquam totam nihil temporibus!</p>
            <p>We deliver allover egypt and consedring delivering allover the world so soon, Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum laborum optio veniam distinctio quisquam eligendi aperiam quidem tempore temporibus laboriosam, blanditiis incidunt ipsum a sit ab ut rerum labore nulla? Veritatis iure dolores earum reiciendis tempora beatae magni maiores illum quidem voluptas! Impedit tempora repudiandae modi asperiores dicta quo iure!</p>
        </div>
        
    </div>
</div>