
.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    border: none;
    box-shadow: none;
}
.card {
    font-size: 1em;
    overflow: hidden;
    padding: 5;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    margin-top:10px;
    -webkit-border-radius: .28571429rem;
    -moz-border-radius: .28571429rem;
    -ms-border-radius: .28571429rem;
    -o-border-radius: .28571429rem;
}
.btn-purple{
    color: #443298 !important;
    font-weight: bold;
}
.btn-purple:hover{
    background-color: #4532984f;
    border: none;
}
.DELIVERED{
    color: white;
    background-color: #6DBD28;
    font-size: 0.7rem;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.SHIPPED{
    background-color: #E4811C;
}
.CANCELLED{
    background-color: #75757A;
}
.date{
    font-weight: 600;
    
}



.icon{
    width: 110px;
    margin: 0 auto;
    
  }
  
  .bold{
    font-weight: 500;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #282828;
  }
  .thin{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: #282828;
    line-height: 21px;
    padding: 0 13.5rem;
  }
  .emptycard{
    border: none !important;
  }

  
.btn-pink{
    background-color: #f2acbe !important;
    color: white;
    padding: 0.5rem 3.1rem;
    box-shadow: 0 3px 5px  #E3E3E3;
    border: none;
    width: fit-content;
  
  }
  .btn:hover{
    border: none;
    background-color: #cc909f !important;
  }
  .maintitle{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color:#282828;
}