<div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
        <h3 class="mb-4">Change your Password</h3>

        <div class="row">
            <form method="post" action="" [formGroup]="form" enctype="multipart/form-data" (ngSubmit)="insertdate(form)">     
            <div class="col-md-12">
                <div class="form-group">
                      <label> Old paswword</label>
                      <input type="password" class="form-control" formControlName="oldpassword">
                </div>
                <div
                id="nameHelp"
                *ngIf="
                form.controls['oldpassword'].touched &&
                form.controls['oldpassword'].invalid
            "
                class="form-text text-danger"
              >
                <small *ngIf="form.controls['oldpassword'].errors?.['required']"
                  >This field is required</small
                >
             
          
              </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                      <label> New password</label>
                      <input type="password" class="form-control" formControlName="newpassword">
                </div>
                <div
                id="nameHelp"
                *ngIf="
                form.controls['newpassword'].touched &&
                form.controls['newpassword'].invalid
            "
                class="form-text text-danger"
              >
                <small *ngIf="form.controls['newpassword'].errors?.['required']"
                  >This field is required</small
                >
                <small *ngIf="form.controls['newpassword'].errors?.['minlength']"
                >enter valid password</small
              >
             
          
              </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                      <label> Confirm New password</label>
                      <input type="password" class="form-control" formControlName="confirmpassword">
                </div>
                <div
                id="nameHelp"
                *ngIf="
                form.controls['confirmpassword'].touched &&
                form.controls['confirmpassword'].invalid
            "
                class="form-text text-danger"
              >
                <small *ngIf="form.controls['confirmpassword'].errors?.['required']"
                  >This field is required</small
                >
             
          
              </div>
            </div>
            <button class="btn btn-purple me-2">Update</button>
            <button class="btn btn-light">Cancel</button>
           </form>
        </div>
        <div>
           
        </div>
    </div>
</div>
    
