<div class="container-fluid d-flex align-items-center justify-content-center">
    <div class="container px-5 ">
        <div class="row align-items-center ">
           <section class="col-12 col-lg-6 d-none d-lg-block">
            <img src="../../assets/images/confirmed.jpg" >
           </section>
           <section class="col-12 col-lg-6 text-lg-start ">
             <h1>Thank you for choosing <span>MODA</span></h1>
           <h2>Your order is confirmed successfully.</h2>
           <p>You have such a good taste, we're getting your order ready to be shipped 💜</p>
           <div >
             <a routerLink="" class="btn btn-yellow py-2 px-4 mb-3">Go Back To Homepage</a>
           </div>
        </section>	
        </div>
        
    </div>	
    </div>
    