
  .container-fluid{
    background-color: white;
  }
  .px-6{
    padding-left: 18rem;
    padding-right: 18rem;
  }
  @media screen and (max-width: 991px) {
    .px-6{
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  .btn-pink{
    background-color: #f2acbe !important;
    color: white;
    padding: 0.5rem 3.1rem;
    box-shadow: 0 3px 5px  #E3E3E3;
    border: none;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .btn:hover{
    border: none;
    background-color: #cc909f !important;
    color: white !important;
  }
  h3{
    font-size: 20px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #443298;
  }
  .container{
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  div p{
    font-weight: 400;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#282828;
  }
  div p span{
    font-weight: 600;
  }
 
  .form-label {
      color: #00173b !important;
      font-size: smaller !important;
      font-weight: 500 !important;
    }
    .form-control:focus {
      border: 1px solid #00173b;
      box-shadow: 2px 2px 7px #ebebeb;
    }
    .form-control {
      font-size: smaller;
      font-weight: 500;
      color: #00173b !important;
    }
  p{
    font-size: smaller;
    font-weight: 400;
    color: #142D50;
  }
  h1 span{
    color: #F5C24C !important;
  }
  section img{
      max-width: 100%;
      border-radius:11px ;
      -webkit-border-radius:11px ;
      -moz-border-radius:11px ;
      -ms-border-radius:11px ;
      -o-border-radius:11px ;
      
  }
  .btn-yellow{
     background-color: #F5C24C !important;
     border: none;
     
     font-size: smaller;
     font-weight: 700;
  }
  .btn-yellow:hover{
    background-color: #443298 !important;
    color: #F5C24C !important;
  }
  