 <div class="container-fluid">
    <div class="container px-6">
      <div class="d-flex flex-column  justify-content-center">
        <section class=" text-lg-start">
          <h3 class="mb-3">Set New Password</h3>
          <div class="d-flex">
           <p>Please enter a new password for 
            <span >ali@gmail.com</span></p>
          </div>           
          
           <form  [formGroup]="upadepassForm" (ngSubmit)="handleSubmitForm(upadepassForm)">
             
             <label for="exampleFormControlInput1" class="form-label mb-1">new passsword</label>
             <input type="password" class="form-control py-2 px-3" id="exampleFormControlInput1"
             formControlName="password"
          
           />
             <div
             id="passwordHelp"
             *ngIf=" (upadepassForm.controls['password'].touched && upadepassForm.controls['password'].invalid)|| 
             (upadepassForm.controls['password'].untouched && isSubmitted)"
             class="form-text text-danger"
           >
             <small *ngIf="upadepassForm.controls['password'].errors?.['required']"
               >This field is required</small
             >
             <small *ngIf="upadepassForm.controls['password'].errors?.['minlength']"
              >Min length is 6 characters</small
            >
           
           </div>
             <button type="submit" class="btn btn-pink  mt-5 py-2 px-4 mb-4">SET NEW PASSWORD</button>
           </form>
        </section>  
        </div>
    </div>  
    </div>

