<div class="container-fluid">
    <div class="container px-5  ">
        <div class="row align-items-center justify-content-around">
           <section class="col-12 col-lg-1 d-none d-lg-block">
            
           </section>
           <section class="col-12 col-lg-8 text-lg-start">
             <h3>enter a new password</h3>           
             <p>

             </p>
           <form method="" action="" [formGroup]="upadepassForm" (ngSubmit)="handleSubmitForm(upadepassForm)">
             
             <label for="exampleFormControlInput1" class="form-label mb-1">new passsword</label>
             <input type="password" class="form-control py-2 px-3" id="exampleFormControlInput1"
             formControlName="password"/>
             <button type="submit" class="btn btn-yellow mt-3 py-2 px-4 mb-3">update password</button>
           </form>
        </section>  
        </div>
    </div>  
    </div>

