<section class="section mt-5">
    <div class="container">
      <div class="row justify-content-center">
      </div>
        <div class="row">
            <div class="col-md-12">
              <div class=" d-flex  row">
                <h1 class=" text-center justify-content-center title fs-1">All verified Products</h1>
              
               
              </div>
              <div class="table-wrap">
                    <table class="table">
                        <thead class="thead-primary">
                            <tr class="text-center">
                              <th>ID</th>
                              <th>name</th>
                              <th>price</th>
                              <th>description</th>
                              <th>brand</th>
                              <th>quantity</th>
                              <th>Image</th>
                              <th colspan="3">Action</th>
                            </tr>
                        </thead>
                        <tr class="text-center" *ngFor="let product of products |paginate: { id: 'listing_pagination',
                        itemsPerPage: 4,
                        currentPage: page,
                        totalItems: totalRecords}">
                          <th >{{product.id}}</th>
                          <td>{{product.name}}</td>
                          <td>{{product.price}} L.E</td>
                          <td>{{product.description}}</td>
                          <td>{{product.brand}}</td>
                          <td>{{product.quantity}}</td>
                          
                         
                          <td><img style="width:50px ; height:50px;" [src]="pathimage+product.image"></td>
                         
                          <td>
                         
                          <td> <a (click)="deleteproduct(product.id)">
                          <i class='fa-solid fa-trash text-danger'></i>  
                          </a></td>
                     
                      </tr>
                        </table>
                        </div>
                        </div>
        </div>
        </div>
        </section>
        <div class="text-center">
          <pagination-controls class="my-pagination" id="listing_pagination"
          (pageChange)="page = $event"></pagination-controls>
        </div>