body{margin-top:20px;
    background:#eee;
}
h3 {
    font-size: 16px;
}
.text-navy {
    color: #1ab394;
}
.cart-product-imitation {
  text-align: center;
  padding-top: 30px;
  height: 80px;
  width: 80px;
  background-color: #f8f8f9;
}
.product-imitation.xl {
  padding: 120px 0;
}
.product-desc {
  padding: 20px;
  position: relative;
}
.ecommerce .tag-list {
  padding: 0;
}
.ecommerce .fa-star {
  color: #d1dade;
}
.ecommerce .fa-star.active {
  color: #f8ac59;
}
.ecommerce .note-editor {
  border: 1px solid #e7eaec;
}
table.shoping-cart-table {
  margin-bottom: 0;
}
table.shoping-cart-table tr td {
  border: none;
  text-align: right;
}
table.shoping-cart-table tr td.desc,
table.shoping-cart-table tr td:first-child {
  text-align: left;
}
table.shoping-cart-table tr td:last-child {
  width: 80px;
}
.ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}
.ibox.collapsed .ibox-content {
  display: none;
}
.ibox:after,
.ibox:before {
  display: table;
}
.ibox-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #ffffff;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 3px 0 0;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  min-height: 48px;
}
.btn-purple{
  background-color: #443298 !important;
  color: white;
}
.ibox-content {
  background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
}
.ibox-footer {
  color: inherit;
  border-top: 1px solid #e7eaec;
  font-size: 90%;
  background: #ffffff;
  padding: 10px 15px;
}

.btn-pink{
  background-color: #f2acbe !important;
  color: white;
  padding: 0.5rem 3.1rem;
  box-shadow: 0 3px 5px  #E3E3E3;
  border: none;
  width: fit-content;

}
.btn:hover{
  border: none;
  background-color: #cc909f !important;
}
.icon{
  width: 150px;
  margin: 0 auto;
  
}

.bold{
  font-weight: 500;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #282828;
}
.thin{
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  color: #282828;
  line-height: 21px;
}
.notavaliable{

  background-color: rgba(0,0,0,0.5);
  z-index: 2;

}


/*saved*/


.product-grid{
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
.product-grid .product-image{
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.product-grid .product-image a.image{display: block; }
.product-grid .product-image img{
  width: 100%;
  height: auto;
}
.product-grid .product-discount-label{
  color: #fff;
  background: #443298;
  font-size: 13px;
  font-weight: 600;
  line-height: 25px;
  padding: 0 20px;
  position: absolute;
  top: 10px;
  left: 0;
}
.product-grid .product-links{
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 10px;
  right: -50px;
  transform: scale(1);
  transition: all .5s ease 0s;
  -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -ms-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.product-grid:hover .product-links{ right: 10px; }
.product-grid:hover{
   transform: scale(1.01);
   -webkit-transform: scale(1.01);
   -moz-transform: scale(1.01);
   -ms-transform: scale(1.01);
   -o-transform: scale(1.01);
}
.product-grid .product-links li a{
  color: #443298;
  background: transparent;
  font-size: 17px;
  line-height: 38px;
  width: 38px;
  height: 38px;
  border-bottom: none !important;
  display: block;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.product-grid .product-links li:last-child a{ border-bottom: 1px solid #333; }
.product-grid .product-links li a:hover{
  color: #fff;
border-bottom: none !important;
}
.product-grid .add-to-cart{
  background: #443298;
  color: #fff;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100%;
  padding: 10px 26px;
  position: absolute;
  left: 0;
  bottom: -60px;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}
.product-grid:hover .add-to-cart{ bottom: 0; }
.product-grid .add-to-cart:hover{color:white !important; text-shadow: 4px 4px rgb(70, 68, 68); }
.product-grid .product-content{
  color: white !important;
  padding: 15px;
  box-shadow: 0 0 0 5px rgba(0,0,0,0.1) inset;
}
.product-grid .title{
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 0 7px;
}
.title a{
  display: block;
  /* max-height:1rem; */
  text-overflow:ellipsis;
  white-space: nowrap;
  overflow: hidden;
 
}
.product-grid .title a{
  color: #282828;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  font-weight: normal !important;
  font-size: 16px !important;
}

.bg-pink{
  background-color: #f2acbe !important;
}
.product-grid .title a:hover{ color: #a5ba8d; }
.product-grid .price{
  color: #0d0d0d;
  font-size: 14px;
  font-weight: 600;
}
.product-grid .price span{
  color: #888;
  font-size: 13px;
  font-weight: 400;
  text-decoration: line-through;
}
.oldprice{
  text-decoration: line-through;
  color:gray;
}
@media screen and (max-width: 990px){
  .product-grid{ margin-bottom: 30px; }
}
.see{
	padding: 0 !important;
	border: none !important;
	color: #443298 !important;
    font-weight: 600;
	background-color: transparent !important;
	font-size: 1rem;
}
.see:hover{
	color: #443298;
  background-color: transparent !important;
}
.see:focus{
	background-color: transparent !important;
	color:#443298;
}
.outofstock{
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  color: gray;
}
.outofstock-badge{
  background-color: gray;
  color: white;
  font-size: 12px;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}