<div class="container mt-3">
    <div class="wrapper wrapper-content animated  fadeInRight">
        <div class="row">
            <div class="col-md-9 ">
                <div class="card">
                    <div class="ibox-title">
                        <h5>Cart (2)</h5>
                    </div>
                    <div class="ibox-content ">
                        <div class="table-responsive">
                            <table class="table shoping-cart-table">
                                <tbody>
                                <tr>
                                    <td width="90">
                                        <div class="cart-product-imitation">
                                            <img src="" alt="">
                                        </div>
                                    </td>
                                    <td class="desc">
                                        <h3>
                                        <a href="#" class="text-navy">
                                           Frame
                                        </a>
                                        </h3>
                                        <p class="small">
                                            a cuite frame with a photo inside it
                                        </p>
                                        <dl class="small m-b-none">
                                            <dt>Description lists</dt>
                                            <dd>A description list is perfect for defining terms.</dd>
                                        </dl>
    
                                        <div class="m-t-sm">
                                            <a href="#" class="text-warning"><i class="fa fa-gift"></i> Add gift package</a>
                                            |
                                            <a href="#" class="text-danger"><i class="fa fa-trash"></i> Remove item</a>
                                        </div>
                                    </td>
    
                                    <td>
                                        EGP 100
                                        <s class="small text-muted">EGP 220</s>
                                    </td>
                                    <td width="65">
                                        <input type="text" class="form-control" placeholder="1">
                                    </td>
                                    <td>
                                        <h4>
                                            EGP 100
                                        </h4>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
    
                    </div>
                   
                  
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table shoping-cart-table">
    
                                <tbody>
                                <tr>
                                    <td width="90">
                                        <div class="cart-product-imitation">
                                        </div>
                                    </td>
                                    <td class="desc">
                                        <h3>
                                            <a href="#" class="text-navy">
                                                Photo editor
                                            </a>
                                        </h3>
                                        <p class="small">
                                            Page when looking at its layout. The point of using Lorem Ipsum is
                                        </p>
                                        <dl class="small m-b-none">
                                            <dt>Description lists</dt>
                                            <dd>A description list is perfect for defining terms.</dd>
                                        </dl>
                                        <div class="m-t-sm">
                                            <a href="#" class="text-warning"><i class="fa fa-gift"></i> Add gift package</a>
                                            |
                                            <a href="#" class="text-danger"><i class="fa fa-trash"></i> Remove item</a>
                                        </div>
                                    </td>
                                    <td>
                                        EGP 50
                                    </td>
                                    <td width="65">
                                        <input type="text" class="form-control" placeholder="1">
                                    </td>
                                    <td>
                                        <h4>
                                            EGP 50
                                        </h4>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <button class="btn "><i class="fa fa-arrow-left"></i> Continue shopping</button>
    
                    </div>
                </div>
    
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="ibox-title">
                        <h5>Cart Summary</h5>
                    </div>
                    <div class="ibox-content">
                        <span>
                            Total
                        </span>
                        <h2 class="font-bold">
                            EGP 150
                        </h2>
    
                        <hr>
                        <span class="text-muted small">
                            Orders above 250 EGP have free delivery
                        </span>
                        <hr>
                        <div class="mt-3">
                            <div class="btn-group">
                            <a href="#" class="btn px-5 ms-2 btn-purple  w-100"><i class="fa fa-shopping-cart me-2"></i>CHECKOUT</a>
                            </div>
                        </div>
                    </div>
                </div>
    
    
                <div class="ibox">
                   
                </div>
            </div>
        </div>
    </div>
    </div>