<div class="container-fluid">
    <div class="container px-6 ">
        <div class="d-flex flex-column  justify-content-center">
            <section class=" text-lg-start">
              <h3 class="mb-3">Password assistance</h3>
              <div class="d-flex">
               <span class="test"><i class="fa-solid fa-circle-check"></i></span>
               <p class="ps-4">We have sent you an e-mail with instructions on how to reset your password. Check your inbox and click on the link provided.</p>
              </div>           
              
      
        </section>  
        </div>
    </div>  
    </div>

