<div class="container-fluid">
    <div class="container px-5  ">
        <div class="row align-items-center justify-content-around">
           <section class="col-12 col-lg-1 d-none d-lg-block">
            
           </section>
           <section class="col-12 col-lg-8 text-lg-start">
             <h3>Password assistance</h3>           
             <p>We have sent you an e-mail with instructions on how to reset your password. Check your inbox and click on the link provided.
                
             </p>
      
        </section>  
        </div>
    </div>  
    </div>

