.container-fluid{
  background-color: white;
}
.container{
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .form-label {
      color: #00173b !important;
      font-size: smaller !important;
      font-weight: 500 !important;
    }
    .form-control:focus {
      border: 1px solid #00173b;
      box-shadow: 2px 2px 7px #ebebeb;
    }
    h3{
      font-size: 20px;
      font-weight: 700;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: #443298;
    }
   
    .fa-circle-check{
      color: #f2acbe;
      font-size: 20px;
      
      
}
    .form-control {
      font-size: smaller;
      font-weight: 500;
      color: #00173b !important;
    }
  p{
    font-size: 16px;
    font-weight: 400;
    color: #282828;
    line-height: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .px-6{
    padding-left: 18rem;
    padding-right: 18rem;
  }
  @media screen and (max-width: 991px) {
    .px-6{
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
  .lineheight a{
    line-height: 16px;
    color: #f2acbe;
    font-weight: 500;
    background-color: transparent;
    padding: 4px 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
  }
  .lineheight a:hover{
    background-color: #efd1d8b4;
  }
