



<section class="section mt-5">
    <div class="container">
      <div class="row justify-content-center">
      </div>
        <div class="row">
            <div class="col-md-12">
              <div class=" d-flex  row">
                <h1 class=" text-center justify-content-center title fs-1">All User</h1>
               
               
              </div>
              <div class="table-wrap">
                    <table class="table">
                        <thead class="thead-primary">
                            <tr class="text-center">
                              <th>id</th>
                              <th>name</th>
                              <th>emai</th>
                              <th>address</th>
                              <th>phone</th>
                              
                            
                              
                            </tr>
                        </thead>
                        <tr class="text-center" *ngFor="let user of users ; let i = index">
                          <th >{{user.id}}</th>
                          <th >{{user.name}}</th>
                          <td>{{user.emai}} </td>
                          <td>{{user.address}}</td>
                          <td>{{user.phone}}</td>
                      
                          
                         
                         
                         
                        
                     
                      </tr>
                        </table>
                        </div>
                        </div>
        </div>
        </div>
        </section>


        <section class="section mt-5">
            <div class="container">
              <div class="row justify-content-center">
              </div>
                <div class="row">
                    <div class="col-md-12">
                      <div class=" d-flex  row">
                        <h1 class=" text-center justify-content-center title fs-1">All  Sellers</h1>
                       
                       
                      </div>
                      <div class="table-wrap">
                            <table class="table">
                                <thead class="thead-primary">
                                    <tr class="text-center">
                                      <th>id</th>
                                      <th>name</th>
                                      <th>emai</th>
                                      <th>address</th>
                                      <th>phone</th>
                                      
                                    
                                      
                                    </tr>
                                </thead>
                                <tr class="text-center" *ngFor="let user of  sellers ; let i = index">
                                  <th >{{user.id}}</th>
                                  <th >{{user.name}}</th>
                                  <td>{{user.emai}} </td>
                                  <td>{{user.address}}</td>
                                  <td>{{user.phone}}</td>
                              
                                  
                                 
                                 
                                 
                                
                             
                              </tr>
                                </table>
                                </div>
                                </div>
                </div>
                </div>
                </section>
                <section class="section mt-5">
                    <div class="container">
                      <div class="row justify-content-center">
                      </div>
                        <div class="row">
                            <div class="col-md-12">
                              <div class=" d-flex  row">
                                <h1 class=" text-center justify-content-center title fs-1">All Admins</h1>
                               
                               
                              </div>
                              <div class="table-wrap">
                                    <table class="table">
                                        <thead class="thead-primary">
                                            <tr class="text-center">
                                              <th>id</th>
                                              <th>name</th>
                                              <th>emai</th>
                                              <th>address</th>
                                              <th>phone</th>
                                              
                                            
                                              
                                            </tr>
                                        </thead>
                                        <tr class="text-center" *ngFor="let user of admins ; let i = index">
                                          <th >{{user.id}}</th>
                                          <th >{{user.name}}</th>
                                          <td>{{user.emai}} </td>
                                          <td>{{user.address}}</td>
                                          <td>{{user.phone}}</td>
                                      
                                          
                                         
                                         
                                         
                                        
                                     
                                      </tr>
                                        </table>
                                        </div>
                                        </div>
                        </div>
                        </div>
                        </section>