<div class="container p-3">
    <h1 class="py-4 text-center">How to Cancel Your Order</h1>
    <div class="row d-flex align-items-center">
        <div class="col-lg-6 col-12">
            <img src="../../assets/images/19197384.jpg"  alt="">
        </div>
        <div class="col-12 col-lg-6 ms-auto mt-4">
            <h6>Can I cancel my order?</h6>
            <ul>
                <li>Yes, you can cancel the order if the order is <span>"Confirmed and Processing"</span>.</li>
                <li>You can't cancel an order if the status is <span>"Shipped"</span>, but you can reject receiving the package when the courier contacts you.</li>
            </ul>
            <h6>My order was prepaid, how will I get a refund?</h6>
            <ul>
                <li>If you reject the delivery of the order, your refund will be processed as soon as the order is updated to the delivery failure within 48 hours</li>
            </ul>
            <h6>My order has been shipped but I still want to cancel it.</h6>
            <ul>
                <li>If the status of the order is "Shipped", you can reject the package when the courier contacts you to deliver the order.</li>
            </ul>
        </div>
    </div>
    <div class="row mb-5">
        <h2 class="py-4 text-center">Steps To Cancel Your Order</h2>
         <section class="d-flex cards row justify-content-between">
            <div class="col-12 col-md-4 p-2 mb-2 mb-md-0"><span>1.</span> From the list of Orders in your Jumia Account, Click<span> See Details</span> in front of the order you wish to cancel.</div>
            <div class="col-12 col-md-3 p-2 mb-2 mb-md-0"><span>2.</span> Click the <span> Cancel Item </span> button.</div>
            <div class="col-12 col-md-4 p-2 mb-2 mb-md-0"><span>3.</span> Select the right quantity and cancellation reason from the drop-down list, and submit.</div>
         </section>
    </div>    
</div>
