<div class="p-4 p-md-3 mb-2 border-bottom">
    <h3 class="maintitle"><a href="#"><i class="fa-solid fa-arrow-left me-3"></i></a>Order Details</h3>
</div>
<div class="mx-3 border-bottom mb-2">
    <p class="orderid me-5">Order nº {{order.id}}
      <a class="btn btn-danger ms-auto" *ngIf="order.status=='pending'" (click)="cancelldorder(order.id)">
        cancelled order</a> 
    </p>
    <h6>{{order.order_details.length}} Items</h6>
    <h6>Placed on {{order.created_at}}</h6>
    <h6>Total: EGP {{order.price}}</h6>
   
           
</div>
<!--first card-->
<!-- <div >
<section >
    <h5 class="mx-3 pt-2">ITEMS IN YOUR ORDER</h5> 
  <div class="card mx-3 p-md-3">
    <div class="row">
        <span class="DELIVERED p-1 ms-2" >DELIVERED</span><br>
        <span class="date d-block mt-1">on 25-3</span>
    <div class="col-md-2 col-sm-4">
        
      <img class="d-block w-100"  src="../../../assets/images/2.jpg" alt="productimage">
       
    </div>
   
  
      <div class="col-md-10 col-sm-8">
        <div class="card-block">
          <a href="#" class="btn btn-pink btn-sm float-right">BUY AGAIN</a>
          <a >
             <h4 class="card-title">product name</h4></a><br><br>
             <p class="text-muted my-1">QTY: <span class="text-dark">1</span></p>
             <div class="price me-2">EGP 150 <span>EGP 200</span></div>
        </div>
      </div>
    </div>
    </div>
  </section>
</div> -->
<section *ngFor="let item of order.order_details ; let i = index">
    <div class="card mx-3 p-md-3">
        <div class="row">
            <span class="DELIVERED p-1 ms-2"  [ngClass]="{'CANCELLED': order.status=='cancelld','pending': order.status=='pending'}"
             >{{order.status}}</span><br>
            <span class="date d-block mt-1">on {{order.created_at}}</span>
        <div class="col-md-2 col-sm-4">
            
          <img class="d-block w-100"  [src]="pathimage+item.product_data.products[0].image"  alt="productimage">
           
        </div>
       
      
          <div class="col-md-10 col-sm-8">
            <div class="card-block">
              <a href="#" class="btn btn-pink btn-sm float-right">BUY AGAIN</a>
              <a >
                 <h4 class="card-title">{{item.product_data.products[0].name}}</h4></a><br><br>
                 <p class="text-muted my-1">QTY: <span class="text-dark">{{item.product_quantity}}</span></p>
               
                 <span class="price me-1" *ngIf="item.product_data.products[0].Offeres!=null">EGP {{item.product_data.products[0].Offeres.price_offer}} </span>
                 <span class="  d-inline" [ngClass]="{'oldprice': item.product_data.products[0].Offeres!=null,'price': item.product_data.products[0].Offeres==null}">EGP{{item.product_data.products[0].price}} </span>
                  
            </div>
          </div>
        </div>
        </div>
</section>
<!-- <section>
    <div class="card mx-3 p-md-3">
        <div class="row">
            <span class="DELIVERED p-1 ms-2" >DELIVERED</span><br>
            <span class="date d-block mt-1">on 25-3</span>
        <div class="col-md-2 col-sm-4">
            
          <img class="d-block w-100"  src="../../../assets/images/2.jpg" alt="productimage">
           
        </div>
       
      
          <div class="col-md-10 col-sm-8">
            <div class="card-block">
              <a href="#" class="btn btn-pink btn-sm float-right">BUY AGAIN</a>
              <a >
                 <h4 class="card-title">product name</h4></a><br><br>
                 <p class="text-muted my-1">QTY: <span class="text-dark">1</span></p>
                 <div class="price me-2">EGP 150 <span>EGP 200</span></div>
            </div>
          </div>
        </div>
        </div>
</section> -->

<section class="d-flex  mx-3 justify-content-between no-wrap">
    <div class="card col-6 pb-2">

        <div class="px-2  mb-2 border-bottom">
            <h5 class=" pt-2">PAYMENT INFORMATION</h5>
        </div>
        <p class="orderid">Payment Method</p>
        <h6>{{order.payment_id.method}}</h6><br>
        <p class="orderid">Payment Details</p>
    <h6>Items total: EGP {{order.price}}</h6>
    <h6>Shipping Fees: EGP 39.90</h6>
    <h6>Promotional Discount: EGP -39.90</h6>
    <h6 class="text-dark mt-2">Total: EGP {{order.price}}</h6>
    </div>
    <div class="card col-6 ms-2">
     
        <div class="px-2  mb-2 border-bottom">
            <h5 class=" pt-2">DELIVERY INFORMATION</h5>
        </div>
        <p class="orderid">Delivery Method</p>
        <h6>Standard Door Delivery</h6><br>
        <p class="orderid">Shipping Address</p>
    <h6> {{order.address_city[0].name}} , {{order.address_state[0].name}}</h6>
   
    </div>

</section>