<div class="container-fluid">
    <div class="container px-6 ">
        <div class="d-flex flex-column  justify-content-center">
           <section class=" text-lg-start">
             <h3 class="mb-3">Forget your password?</h3>
             <div class="d-flex">
              <span class="test"><i class="fa-solid fa-info"></i></span>
              <p class="ps-4">Please enter the e-mail address associated with your account. We will send you a link to this e-mail address to reset your password.</p>
             </div>           
             
           <form method="" action="" [formGroup]="forgetForm" (ngSubmit)="handleSubmitForm(forgetForm)">
             
             <label for="exampleFormControlInput1" class="form-label mb-1">Email</label>
             <input type="email" class="form-control py-2 px-3" id="exampleFormControlInput1"
             formControlName="email"/>
             <div
             id="emailHelp"
             *ngIf="erromsg!=''"
             class="form-text text-danger"
           >
             <small 
               >{{erromsg}}</small
             >
           
            
           </div>
             <button type="submit" class="btn btn-pink mt-5 py-2 px-4 mb-4">RESET PASSWORD</button>
           </form>
           <div class="text-center lineheight"><a class="card-link" routerLink="../../signin">RETURN TO LOGIN</a></div>
       
        </section>  
        </div>
    </div>  
    </div>
