<div class="container-fluid">
    <div class="container px-5  ">
        <div class="row align-items-center justify-content-around">
           <section class="col-12 col-lg-1 d-none d-lg-block">
            
           </section>
           <section class="col-12 col-lg-8 text-lg-start">
             <h3>forget your password </h3>           
             <p>Please enter the e-mail address associated with your Jumia account. We will send you a link to this e-mail address to reset your password.

             </p>
           <form method="" action="" [formGroup]="forgetForm" (ngSubmit)="handleSubmitForm(forgetForm)">
             
             <label for="exampleFormControlInput1" class="form-label mb-1">Email</label>
             <input type="email" class="form-control py-2 px-3" id="exampleFormControlInput1"
             formControlName="email"/>
             <button type="submit" class="btn btn-yellow mt-3 py-2 px-4 mb-3">RESET PASSWORD</button>
           </form>
        </section>  
        </div>
    </div>  
    </div>
