<section class="section mt-5">
    <div class="container">
      <div class="row justify-content-center">
      </div>
        <div class="row">
            <div class="col-md-12">
              <div class=" d-flex  row">
                <h1 class=" text-center justify-content-center title fs-1">checkout</h1>
                <!-- <h5> {{products.totla_money}}</h5> -->
               
              </div>
              <div class="table-wrap">
                    <table class="table">
                        <thead class="thead-primary">
                            <tr class="text-center table-info" >
                                <th>total amount</th>
                                <th></th>
                                <th>{{products.totla_money}}</th>
                               
                              </tr>
                            <tr class="text-center">
                              <th>product ID</th>
                              <th>quantity</th>
                              <th>created_at</th>
                             
                            </tr>
                        </thead>
                        <tr class="text-center" *ngFor="let product of products.order_details |paginate: { id: 'listing_pagination',
                        itemsPerPage: 4,
                        currentPage: page,
                        totalItems: totalRecords}">
                          <th >{{product.product_id}}</th>
                          <td>{{product.quantity}}</td>
                          <td>{{product. created_at}}</td>
                          
                          
                         
                        
                          <!-- order_details: Array(2)
                          0: {id: 20, quantity: 1, product_id: 52, order_id: 10, created_at: '2022-08-14T01:06:13.000000Z', …}
                          1: {id: 21, quantity: 1, product_id: 53, order_id: 10, created_at: '2022-08-14T01:06:14.000000Z', …}
                          length: 2
                          [[Prototype]]: Array(0)
                          totla_money: 191.25                -->
                      </tr>
                        </table>
                        </div>
                        </div>
        </div>
        </div>
        </section>
        <div class="text-center">
          <pagination-controls class="my-pagination" id="listing_pagination"
          (pageChange)="page = $event"></pagination-controls>
        </div>