<div class="container-fluid">
    <div class="container">
        <h2 class="py-4 text-center">Your Different Payment Options</h2>
      <div class="  row d-flex justify-content-around">
        <div class="p-3 col-12 col-lg-4 border-rightgray" >
          <div class="card-body px-5 d-flex flex-column">
            <h5 class="card-title mb-4 text-center">PayPal</h5>
           
            
            <div class="w-100 text-center">
              <h4><i class="fa-brands fa-paypal"></i></h4>
              <h6>You can use your Paypal account, It's Simple, It's Easy and It's Safe.</h6>
            </div>
          </div>
        </div>
    
    
        <div class="p-3 col-12 col-lg-4 border-rightgray" >
            <div class="card-body px-5 d-flex flex-column">
              <h5 class="card-title mb-4 text-center">Pay on Delivery</h5>
             
              
              <div class="w-100 text-center">
                <h4><i class="fa-solid fa-hand-holding-dollar"></i></h4>
                <h6>Shop like a store, but at home!<br>

                    No rush, just pay at your doorstep</h6>
              </div>
            </div>
          </div>

          <div class="p-3 col-12 col-lg-4 " >
            <div class="card-body px-md-5 d-flex flex-column">
              <h5 class="card-title mb-4 text-center">Credit Card</h5>     
              <div class="w-100 text-center">
                <h4><i class="fa-solid fa-credit-card"></i></h4>
                <h6>You can use your credit card, It's Simple, It's Easy and It's Safe.</h6>
              </div>
            </div>
          </div>


        <h3 class="py-4 text-center">It's Simple, It's Easy and It's Safe.</h3>
        <a href="" class="btn btn-pink ">
            SHOP NOW</a>
      </div>
    </div>
    </div>