<div class="container-fluid">
    <div class="container p-3 ">
        <h1 class="py-4 text-center">General Terms and Conditions of Use of the Marketplace for Buyers and Sellers</h1>
        
        <ol>
            <li>Introduction</li>
            <p>By using our marketplace, you accept these general terms and conditions in full. If you disagree with these general terms and conditions or any part of these general terms and conditions, you must not use our marketplace.</p>
            <li>Registration and Account</li>
            <p> You may not register with our marketplace if you are under 18 years of age (by using our marketplace or agreeing to these general terms and conditions, you warrant and represent to us that you are at least 18 years of age).</p>
            <p> You may register for an account with our marketplace by completing and submitting the registration form on our marketplace.</p>
            <p>If you register for an account with our marketplace, you will be asked to provide an email address/user ID and password and you agree to:
                 keep your password confidential.</p>
            <p>Your account shall be used exclusively by you and you shall not transfer your account to any third party. If you authorize any third party to manage your account on your behalf this shall be at your own risk</p>
            <li>Terms and conditions of sale</li>
            <p>You acknowledge and agree that:
                 the marketplace provides an online location for sellers to sell and buyers to purchase products</p>
                 <p>products must be of satisfactory quality, fit and safe for any purpose specified in, and conform in all material respects to, the product listing and any other description of the products supplied or made available by the seller to the buyer</p>
            <li>Payments</li>
            <p>You must make payments due under these general terms and conditions in accordance with the Payments Information and Guidelines on the marketplace.</p>
            <li>Rules about your content</li>
            <p>Your content must not be illegal or unlawful, infringe any person's legal rights, or be capable of giving rise to legal action against any person (in each case in any jurisdiction and under any applicable law). </p>
            <p>You must not use our marketplace to link to any website or web page consisting of or containing material that would, were it posted on our marketplace, breach the provisions of these general terms and conditions.</p>
            <li>Data privacy</li>
            <p>Buyers agree to processing of their personal data in accordance with the terms of MODA Privacy.</p>
        </ol>
    </div>
</div>