<div class="container-fluid">
    <div class="container p-3 ">
        <h1 class="py-4 text-center">Privacy</h1>
        
        <ol>
            <li>About this Notice</li>
            <p>This Privacy and Cookie Notice provides information on how MODA collects and processes your personal data when you visit our website or mobile applications.</p>
            <li>The data we collect about you</li>
            <p> We collect your personal data in order to provide and continually improve our products and services.</p>
            <p> Information you provide to us: We receive and store the information you provide to us including your identity data, contact data, delivery address and financial data.</p>
            <p>Information on your use of our website and/or mobile applications: We automatically collect and store certain types of information regarding your use of the Moda marketplace including information about your searches, views, downloads and purchases.</p>
           
            <li>How we use your personal data</li>
            <p>We use your personal data to operate, provide, develop and improve the products and services that we offer, including the following:</p>
                 <ul>
                    <li>Registering you as a new customer.</li>
                    <li>Processing and delivering your orders.</li>
                    <li>Managing your relationship with us.</li>
                    <li>Improving our website, applications, products and services</li>
                 </ul>
            <li>Data security</li>
            <p>We have put in place appropriate security measures to prevent your personal data from being accidentally lost, used or accessed in an unauthorised way, altered or disclosed.
                In addition, we limit access to your personal data to those employees, agents, contractors and other third parties who have a business need to know. They will only process your personal data on our instructions and they are subject to a duty of confidentiality.
                We have put in place procedures to deal with any suspected personal data breach and will notify you and any applicable regulator of a breach where we are legally required to do so.</p>
            <li>Your legal rights</li>
            <p>It is important that the personal data we hold about you is accurate and current. Please keep us informed if your personal data changes during your relationship with us.
                Under certain circumstances, you have rights under data protection laws in relation to your personal data, including the right to access, correct or erase your personal data, object to or restrict processing of your personal data, and unsubscribe from our emails and newsletters.</p>
           
            
        </ol>
    </div>
</div>