/* You can add global styles to this file, and also import other style files */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
* {
    font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
    outline:none !important;
  }
body{
  background-color: #F5F5F5 !important;
}
  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #F2ACBE; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #443298; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5a4d97; 
}