<div class="container mt-3" id="main">
    <div class="section1 row d-flex ">
      <div class=" col-12 col-lg-3 ">
        <ul class="card p-2 ">
          <li class="mb-1" *ngFor="let catogery of categories  ; let i = index"><i class="fa-solid fa-store"></i> <a [routerLink]="['/categoryproducts' , catogery.id]">{{catogery.name}}</a></li>

        </ul>
      </div>
      <div class="col-lg-9 col-12">
        <div id="carouselExampleInterval" class="carousel slide  carousel-fade border rounded" data-bs-ride="carousel" >
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner"> 
            
            <div class="carousel-item active" data-bs-interval="5000" >
              <img src="../../assets/images/photo_2022-08-12_02-42-49.jpg" class="d-block w-100 rounded-2" alt="...">
             
            </div>
            <div class="carousel-item " data-bs-interval="10000">
              <img src="../../assets/images/photo_2022-08-12_02-42-55.jpg" class="d-block w-100 rounded-2" alt="...">

            </div>
            <div class="carousel-item" data-bs-interval="15000">
              <img src="../../assets/images/close-up-woman-holding-shopping-bags.jpg" class="d-block w-100 rounded-2" alt="...">
             
            </div>
           
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <!-- <div class="col-lg-3 col-12 d-sm-flex justify-content-around mt-sm-3 d-lg-block mt-lg-0">
        <img src="../assets/img/218__184_EN_copy.jpg" class="d-block mb-3 rounded-2 " alt="...">
        <img src="../assets/img/218__184_EN.jpg" class="d-block rounded-2" alt="...">
      </div> -->
    </div>
    <section >
      <div class="card my-4 p-3">
      <div class="row">
        <div class="col-12">
          <div class="card-block">
            
              <h4>Recommended for you</h4>
            <!--products-->
            <div class="row">
              <div class="col-md-2 col-sm-6" *ngFor="let product of random ; let i = index">
                  <div class="product-grid">
                      <div class="product-image">
                          <a href="#" class="image">
                              <img [src]="pathimage+product.image">
                          </a>
                          <span class="product-discount-label" *ngIf="product.Offeres!=null">{{product.Offeres.offeres.percent}}%</span>
                          <ul class="product-links">
                              <li><a (click)="addtowhishlist(product,$event)"><i class="fa-regular fa-heart"></i></a></li>
                          </ul>
                          <a (click)="insertincart($event,product)" class="add-to-cart">Add to Cart</a>
                      </div>
                      <div class="product-content">
                          <h3 class="title"> <a [routerLink]="['/productdetails' , product.id]">{{product.name}}</a></h3>
                          <span class="price me-1" *ngIf="product.Offeres!=null">EGP {{product.Offeres.price_offer}} </span>
                          <span class="  d-inline" [ngClass]="{'oldprice': product.Offeres!=null,'price': product.Offeres==null}">EGP{{product.price}} </span>
                                    
                          
                      </div>
                  </div>
              </div>
             
          </div>
            <!--end of products-->
          </div>
        </div>
      </div>
      </div>
      </section>
    <section>
        
      <div class="card my-4 ">
        <div class="bg-pink rounded-top p-3 pb-0">
          <a [routerLink]="['/sale']" class="btn btn-purple btn-sm float-right see">SEE ALL ></a>
          <h4> Sale | Up to 75% Off</h4>
        </div>
      <div class="row">
        <div class="col-12">
          <div class="card-block">
              
             
            <!--products-->
            <div class="row p-2">
              <div class="col-md-2 col-sm-6" *ngFor="let product of productOffered ; let i = index">
                  <div class="product-grid" *ngIf="i<6">
                      <div class="product-image">
                          <a href="#" class="image">
                              <img [src]="pathimage+product.products[0].image">
                          </a>
                          <span class="product-discount-label">{{product.products[0].Offeres.offeres.percent}}%</span>
                          <ul class="product-links">
                              <li><a (click)="addtowhishlist(product.products[0],$event)"><i class="fa-regular fa-heart"></i></a></li>
                          </ul>
                          <a (click)="insertincart($event,product.products[0])" class="add-to-cart">Add to Cart</a>
                      </div>
                      <div class="product-content">
                          <h3 class="title"><a [routerLink]="['/productdetails' , product.products[0].id]" >{{product.products[0].name}}</a></h3>
                          <div class="price">EGP {{product.products[0].Offeres.price_offer}} <span>EGP {{product.products[0].price}}</span></div>
                      </div>
                  </div>
              </div>
       
              
              
          </div>
            <!--end of products-->
          </div>
        </div>
      </div>
      </div>
      </section>
    <section>
        <div class="card my-4 p-3">
        <div class="row">
          <div class="col-12">
            <div class="card-block">
                <a routerLink="bestseller" class="btn btn-purple btn-sm float-right see">SEE ALL ></a>
                <h4>Best seller</h4>
              <!--products-->
              <div class="row">
                <div class="col-md-2 col-sm-6" *ngFor="let product of bestSeller  ; let i = index">
                    <div class="product-grid" *ngIf="i<6">
                        <div class="product-image">
                            <a href="#" class="image">
                                <img [src]="pathimage+product.products[0].image">
                            </a>
                            <span class="product-discount-label" *ngIf="product.products[0].Offeres!=null">{{product.products[0].Offeres.offeres.percent}}%</span>
                            <ul class="product-links">
                                <li><a (click)="addtowhishlist(product.products[0],$event)"><i class="fa-regular fa-heart"></i></a></li>
                            </ul>
                            <a (click)="insertincart($event,product.products[0])" class="add-to-cart">Add to Cart</a>
                        </div>
                        <div class="product-content">
                            <h3 class="title"> <a [routerLink]="['/productdetails' , product.products[0].id]">{{product.products[0].name}}</a></h3>
                            <span class="price me-1" *ngIf="product.products[0].Offeres!=null">EGP {{product.products[0].Offeres.price_offer}} </span>
                            <span class="  d-inline" [ngClass]="{'oldprice': product.products[0].Offeres!=null,'price': product.products[0].Offeres==null}">EGP{{product.products[0].price}} </span>
                                      
                            
                        </div>
                    </div>
                </div>
               
            </div>
              <!--end of products-->
            </div>
          </div>
        </div>
        </div>
        </section>
       
    <!-- <section>
      <div class="card my-4 p-3">
      <div class="row">
        <div class="col-12">
          <div class="card-block">
              <a routerLink="" class="btn btn-purple btn-sm float-right see">SEE ALL ></a>
              <h4>Recommended for you</h4>
          
            <div class="row">
              <div class="col-md-2 col-sm-6">
                  <div class="product-grid">
                      <div class="product-image">
                          <a href="#" class="image">
                              <img src="../../assets/images/img-1.jpg">
                          </a>
                          <span class="product-discount-label">-25%</span>
                          <ul class="product-links">
                              <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                          </ul>
                          <a href="" class="add-to-cart">Add to Cart</a>
                      </div>
                      <div class="product-content">
                          <h3 class="title"><a href="#">Women'sssssssssssssssssssssss Blouse</a></h3>
                          <div class="price">EGP 150 <span>EGP 200</span></div>
                      </div>
                  </div>
              </div>
              <div class="col-md-2 col-sm-6">
                  <div class="product-grid">
                      <div class="product-image">
                          <a href="#" class="image">
                              <img src="../../assets/images/img-2.jpg">
                          </a>
                          <ul class="product-links">
                              <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                          </ul>
                          <a href="" class="add-to-cart">Add to Cart</a>
                      </div>
                      <div class="product-content">
                          <h3 class="title"><a href="#">Men's Jacket</a></h3>
                          <div class="price">EGP 450</div>
                      </div>
                  </div>
              </div>
              <div class="col-md-2 col-sm-6">
                  <div class="product-grid">
                      <div class="product-image">
                          <a href="#" class="image">
                              <img src="../../assets/images/img-3.jpg">
                          </a>
                          <ul class="product-links">
                              <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                          </ul>
                          <a href="" class="add-to-cart">Add to Cart</a>
                      </div>
                      <div class="product-content">
                          <h3 class="title"><a href="#">Men's Jacket</a></h3>
                          <div class="price">EGP 200</div>
                      </div>
                  </div>
              </div>
              <div class="col-md-2 col-sm-6">
                  <div class="product-grid">
                      <div class="product-image">
                          <a href="#" class="image">
                              <img src="../../assets/images/img-4.jpg">
                          </a>
                          <ul class="product-links">
                              <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                          </ul>
                          <a href="" class="add-to-cart">Add to Cart</a>
                      </div>
                      <div class="product-content">
                          <h3 class="title"><a href="#">Men's Jacket</a></h3>
                          <div class="price">EGP 150</div>
                      </div>
                  </div>
              </div>
              <div class="col-md-2 col-sm-6">
                  <div class="product-grid">
                      <div class="product-image">
                          <a href="#" class="image">
                              <img src="../../assets/images/img-4.jpg">
                          </a>
                          <ul class="product-links">
                              <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                          </ul>
                          <a href="" class="add-to-cart">Add to Cart</a>
                      </div>
                      <div class="product-content">
                          <h3 class="title"><a href="#">Men's Jacket</a></h3>
                          <div class="price">EGP 150</div>
                      </div>
                  </div>
              </div>
              <div class="col-md-2 col-sm-6">
                  <div class="product-grid">
                      <div class="product-image">
                          <a href="#" class="image">
                              <img src="../../assets/images/img-4.jpg">
                          </a>
                          <ul class="product-links">
                              <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                          </ul>
                          <a href="" class="add-to-cart">Add to Cart</a>
                      </div>
                      <div class="product-content">
                          <h3 class="title"><a href="#">Men's Jacket</a></h3>
                          <div class="price">EGP 150</div>
                      </div>
                  </div>
              </div>
          </div>
            
          </div>
        </div>
      </div>
      </div>
      </section> -->


      <!--end of recommendation-->

      <!--free shipping-->
      
    <section>
      <div class="card my-4 p-2">
      <div class="row">
        <div class="col-12">
          <div class="card-block">
            <!--products-->
            <div class="row">
              <div class="col-12">
                  <img class="rounded w-100" src="../../assets/images/freeshipping.jpg" alt="">
              </div>
          </div>
          </div>
        </div>
      </div>
      </div>
      </section>
      <!--end of free shipping section-->


      <!--flash sale-->
      <!-- <section>
        
        <div class="card my-4 ">
          <div class="bg-pink rounded-top p-3 pb-0">
            <a routerLink="" class="btn btn-purple btn-sm float-right see">SEE ALL ></a>
            <h4><i class="fa-solid fa-tags text-purple me-2"></i> Flash Sales Every Day</h4>
          </div>
        <div class="row">
          <div class="col-12">
            <div class="card-block">
                
               
            
              <div class="row p-2">
                <div class="col-md-2 col-sm-6">
                    <div class="product-grid">
                        <div class="product-image">
                            <a href="#" class="image">
                                <img src="../../assets/images/img-1.jpg">
                            </a>
                            <span class="product-discount-label">-25%</span>
                            <ul class="product-links">
                                <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                            </ul>
                            <a href="" class="add-to-cart">Add to Cart</a>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Women'sssssssssssssssssssssss Blouse</a></h3>
                            <div class="price">EGP 150 <span>EGP 200</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div class="product-grid">
                        <div class="product-image">
                            <a href="#" class="image">
                                <img src="../../assets/images/img-2.jpg">
                            </a>
                            <span class="product-discount-label">-25%</span>
                            <ul class="product-links">
                                <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                            </ul>
                            <a href="" class="add-to-cart">Add to Cart</a>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Women's Blouse</a></h3>
                            <div class="price">EGP 150 <span>EGP 200</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div class="product-grid">
                        <div class="product-image">
                            <a href="#" class="image">
                                <img src="../../assets/images/img-3.jpg">
                            </a>
                            <span class="product-discount-label">-25%</span>
                            <ul class="product-links">
                                <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                            </ul>
                            <a href="" class="add-to-cart">Add to Cart</a>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Women'sssssssssssssssssssssss Blouse</a></h3>
                            <div class="price">EGP 150 <span>EGP 200</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div class="product-grid">
                        <div class="product-image">
                            <a href="#" class="image">
                                <img src="../../assets/images/img-1.jpg">
                            </a>
                            <span class="product-discount-label">-25%</span>
                            <ul class="product-links">
                                <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                            </ul>
                            <a href="" class="add-to-cart">Add to Cart</a>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Women'sssssssssssssssssssssss Blouse</a></h3>
                            <div class="price">EGP 150 <span>EGP 200</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div class="product-grid">
                        <div class="product-image">
                            <a href="#" class="image">
                                <img src="../../assets/images/img-1.jpg">
                            </a>
                            <span class="product-discount-label">-25%</span>
                            <ul class="product-links">
                                <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                            </ul>
                            <a href="" class="add-to-cart">Add to Cart</a>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Women'sssssssssssssssssssssss Blouse</a></h3>
                            <div class="price">EGP 150 <span>EGP 200</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div class="product-grid">
                        <div class="product-image">
                            <a href="#" class="image">
                                <img src="../../assets/images/img-1.jpg">
                            </a>
                            <span class="product-discount-label">-25%</span>
                            <ul class="product-links">
                                <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                            </ul>
                            <a href="" class="add-to-cart">Add to Cart</a>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Women'sssssssssssssssssssssss Blouse</a></h3>
                            <div class="price">EGP 150 <span>EGP 200</span></div>
                        </div>
                    </div>
                </div>
                
                
            </div>
         
            </div>
          </div>
        </div>
        </div>
        </section> -->
        <!--brands-->

      <section>
        
        <div class="card my-4 ">
          <div class="bg-pink rounded-top p-3 pb-0 text-center">
            <h4>TOP BRANDS</h4>
          </div>
        <div class="row">
          <div class="col-12">
            <div class="card-block">
                
               
              <!--products-->
              <div class="row p-2">
                <div class="col-md-2 col-sm-6">
                    <div class="product-grid">
                        <div class="product-image">
                            <img src="../../assets/images/LC_Waikiki_260_x_144.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div class="product-grid">
                        <div class="product-image">
                          <img src="../../assets/images/Defacto_260_x_144_.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div class="product-grid">
                        <div class="product-image">
                          <img src="../../assets/images/Andora.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div class="product-grid">
                        <div class="product-image">
                          <img src="../../assets/images/AEO_Egypt_260_x_144__copy.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div class="product-grid">
                        <div class="product-image">
                          <img src="../../assets/images/Dejavu_260_x_144__copy_68.png" alt="">
                        
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div class="product-grid">
                        <div class="product-image">
                          <img src="../../assets/images/Mesery.png" alt="">
                        </div>
                    </div>
                </div>
                
                
            </div>
              <!--end of products-->
            </div>
          </div>
        </div>
        </div>
        </section>
      <!--specific category sale-->
      <!-- <section>
        
        <div class="card my-4 ">
          <div class="bg-pink rounded-top p-3 pb-0">
            <a routerLink="" class="btn btn-purple btn-sm float-right see">SEE ALL ></a>
            <h4>Women's Fashion Sale | Up to 75% Off</h4>
          </div>
        <div class="row">
          <div class="col-12">
            <div class="card-block">
                
               
            
              <div class="row p-2">
                <div class="col-md-2 col-sm-6" *ngFor="let product of productOffered ; let i = index">
                    <div class="product-grid">
                        <div class="product-image">
                            <a href="#" class="image">
                                <img [src]="pathimage+product.products[0].image">
                            </a>
                            <span class="product-discount-label">{{product.products[0].Offeres.offeres.percent}}%</span>
                            <ul class="product-links">
                                <li><a (click)="addtowhishlist(product.products[0],$event)"><i class="fa-regular fa-heart"></i></a></li>
                            </ul>
                            <a (click)="insertincart($event,product.products[0])" class="add-to-cart">Add to Cart</a>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a [routerLink]="['/productdetails' , product.products[0].id]" >{{product.products[0].name}}</a></h3>
                            <div class="price">EGP {{product.products[0].Offeres.price_offer}} <span>EGP {{product.products[0].price}}</span></div>
                        </div>
                    </div>
                </div>
         
                
                
            </div>
          
            </div>
          </div>
        </div>
        </div>
        </section> -->
  
      <!--specific category sale-->
      <section *ngFor="let cat of allcats ; let i = index">
        
        <div class="card my-4 " >
          <div class="bg-pink rounded-top p-3 pb-0">
            <a [routerLink]="['/categorypage' , cat.name,cat.id]" class="btn btn-purple btn-sm float-right see">SEE ALL ></a>
            <h4>{{cat.name}} </h4>
          </div>
        <div class="row">
          <div class="col-12">
            <div class="card-block">
                
               
              <!--products-->
              <div class="row p-2">
                <div class="col-md-2 col-sm-6" *ngFor="let product of cat.item.products  ; let i = index" >
                    <div class="product-grid" *ngIf="i<6">
                        <div class="product-image">
                            <a href="#" class="image">
                                <img [src]="pathimage+product.image">
                            </a>
                            <span class="product-discount-label" *ngIf="product.Offeres!=null">{{product.Offeres.offeres.percent}}%</span>
                            <ul class="product-links">
                                <li><a (click)="addtowhishlist(product,$event)"><i class="fa-regular fa-heart"></i></a></li>
                            </ul>
                            <a (click)="insertincart($event,product)" class="add-to-cart">Add to Cart</a>
                        </div>
                        <div class="product-content">
                            <h3 class="title"> <a [routerLink]="['/productdetails' , product.id]">{{product.name}}</a></h3>
                            <span class="price me-1" *ngIf="product.Offeres!=null">EGP {{product.Offeres.price_offer}} </span>
                            <span class="  d-inline" [ngClass]="{'oldprice': product.Offeres!=null,'price': product.Offeres==null}">EGP{{product.price}} </span>
                                      
                            
                        </div>
                    </div>
                </div>
           
                
                
            </div>
              <!--end of products-->
            </div>
          </div>
        </div>
        </div>
        </section>
  
  </div>






  <a   id="btnUp" target="_self" href="#main" class="bg-main point p-3 text-white border-0 rounded-circle">
    <i class="fa fa-chevron-up" ></i>
  </a>