.container-fluid {
  background-color: white;
}
.container {
  padding-top: 2rem;
  padding-bottom: 1rem;
  
}
.px-6{
  padding-left: 8rem;
  padding-right: 8rem;
}
@media screen and (max-width: 991px) {
  .px-6{
    padding-left: 2rem;
    padding-right: 2rem;
  }
}


.card-title {
  color: #443298 !important;
  font-weight: 700 !important;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}
.form-label {
  color: #00173b !important;
  font-size: smaller !important;
  font-weight: 500 !important;
}
.form-control:focus {
  border: 1px solid #00173b;
  box-shadow: 2px 2px 7px #ebebeb;
}
.form-select:focus{
  border: 1px solid #00173b;
  box-shadow: 2px 2px 7px #ebebeb;
}
.form-select{
  font-size: smaller;
  font-weight: 500;
  color: #00173b !important;
}
.form-control {
  font-size: smaller;
  font-weight: 500;
  color: #00173b !important;
}

.q {
  font-size: 14px;
  color: #282828;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}
.card-link {
  text-decoration: none;
  font-weight: 700;
  color: #00173b;
}
.fs-6 {
  font-size: 14px !important;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #75757A;
}
hr {
  background-color: #75757A !important;
  height: 1.5px;
}



.btn-pink{
  background-color: #f2acbe !important;
  color: white;
  padding: 0.5rem 3.1rem;
  box-shadow: 0 3px 5px  #E3E3E3;
  border: none;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn:hover{
  border: none;
  background-color: #cc909f !important;
  color: white !important;
}
.lineheight a{
  line-height: 16px;
  color: #f2acbe;
  background-color: transparent;
  padding: 3px 4px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.lineheight a:hover{
  background-color: #efd1d8d4;
}
.facebook {
  color: white ;
  background-color: #344F88 !important;
}
.google {
  color: white;
  background-color: #8777ce !important;
}