<nav class="navbar navbar-expand-lg bg-white sticky-top">
    <div class="container">
      <a class="navbar-brand me-5" routerLink="">Moda</a>
      <button class="navbar-toggler text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-dark border-0"><i class="fa-solid fa-bars"></i></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex row w-100" role="search" 
        #searchForm="ngForm" (ngSubmit)="search(searchForm)" >
          <input
           (change)="getcatsearch($event)"
          name="name"
          ngModel
 
          #name="ngModel"
           list="datalistOptions"
           id="exampleDataList"
            class="form-control fromStyle  me-2 col-9"
             type="search" placeholder="Search products, brands and categories" aria-label="Search">
          <datalist id="datalistOptions">
            <option *ngFor="let product of products ; let i = index" 
            [value]="product.name">
             {{product.name}} </option>
          </datalist>
          <button class="btn btn-pink text-white col-2" type="submit">SEARCH</button>
        </form>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-regular fa-user me-2"></i><span *ngIf="!isLogin">Account</span>
              <span class="me-2" style="" *ngIf="isLogin">HI, {{username}}</span>
            </a>
            <ul class="dropdown-menu">
              <li class="text-center px-3 py-1"><a class="w-100 btn btn-pink" *ngIf="!isnotnull" routerLink="signin">SIGN IN</a></li>
              <li *ngIf="!isnotnull"><hr class="dropdown-divider"></li>
              <li ><a routerLink="userprofile" class="dropdown-item" *ngIf="isLogin" ><i class="fa-regular fa-user me-3"></i>My Account</a></li>
              <li><a routerLink="userprofile/myorders" class="dropdown-item"><i class="fa-solid fa-box me-3"></i>Orders</a></li>
              <li><a routerLink="userprofile/Wishlist" class="dropdown-item" ><i class="fa-regular fa-heart me-3"></i>Saved Items</a></li>
            <li><a *ngIf="isAdmin"   class="dropdown-item text-center" style="color: #f2acbe;" routerLink="dashboard">log to admin dashboard</a></li>
              <li><a *ngIf="isSeller"   class="dropdown-item text-center" style="color: #f2acbe;" routerLink="seller" >log to seller dashboard</a></li>
              <li *ngIf="isLogin"><hr class="dropdown-divider"></li>
             
              <li><a *ngIf="isnotnull"  (click)='logOut()' class="dropdown-item text-center" style="color: #f2acbe;" >LOGOUT</a></li>
              
               </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-regular fa-circle-question me-2"></i>Help
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="track-order">Track Order</a></li>
              <li><a class="dropdown-item" routerLink="cancel-order">Order Cancellation</a></li>
              <li><a class="dropdown-item" routerLink="payment-methods">Payment</a></li>
              <li><hr class="dropdown-divider"></li>
              <li class="text-center px-3 py-1"><button class="w-100 btn btn-pink" href="#">Live Chat</button></li>
            </ul>
          </li>
          <li class="nav-item me-3 d-flex align-items-center"  >
            <button type="button" class="position-relative me-1 rounded" style="border: none; background-color:transparent;">
                <a routerLink="cart" class="text-dark"><i class="fa-solid fa-cart-shopping me-2"></i></a>
                <span *ngIf="count>0" class="position-absolute top-10 start-70 translate-middle badge rounded-circle bg-pink text-dark">
                  {{count}}
                  <span class="visually-hidden">unread messages</span>
                </span>
              </button>
              <a routerLink="cart" class="nav-link text-dark px-0">Cart</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
